* {
  transition: all ease 0.1s;
}

table,
th,
td {
  border: 1px solid #000;
  text-align: center;
  border-collapse: collapse;
  padding: 1rem;
}

.day:hover {
  background-color: lightcoral;
  border-radius: 100%;
}

main {
  display: flex;
  justify-content: center;
}

.currentDay {
  background: lightsalmon;
  border-radius: 100%;
}

.modal {
  display: none;
}

.modal-content {
  padding: 1rem;
  margin: 15% auto;
  width: 80%;
}

ul {
  margin: 1rem;
}
